#wrapper {
     height: 200px;
     width: 1200px;
     color: white;
     }

h1{
     width: 600px;
     text-align: center;
     background-color: rgb(241, 11, 11);
}

.content1{
     height: 100px;
     width: 600px;
     background-color: rgb(25, 3, 102);
}